<!DOCTYPE html>
<html lang="en">
<head>
	<title>view</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link type="text/css" rel="stylesheet" href="/static/main.css">
</head>
<style>
	.lil-gui .gui-stats {
		line-height: var(--widget-height);
		padding: var(--padding);
	}

</style>
<body>
	<div id="container">
	</div>

	<!-- Import maps polyfill -->
	<!-- Remove this when import maps will be widely supported -->

	<script type="importmap">
		{
			"imports": {
				"three": "/static/three.module.js",
				"three/addons/": "/static/jsm/"
			}
		}
	</script>
	<script type="application/javascript" src="/static/three.min.js"></script>
	<script type="module">
		import * as THREE from 'three';

		import Stats from '/static/stats.module.js';
		import { GUI } from '/static/lil-gui.module.min.js';
		import { OrbitControls } from '/static/OrbitControls.js';

		let container, stats, gui, guiStatsEl;
		let camera, controls, scene, renderer, material;
		//模板引擎数据渲染
		let my_data = {{data.my_data_background|tojson}};
		let dict_list = {{data.dict_list|tojson}};
		let mesh;
		const raycaster = new THREE.Raycaster();
		const mouse = new THREE.Vector2( 1, 1 );
		const color = new THREE.Color();


		// gui

		const Method = {
			X: 'X',
			Y: 'Y',
			Z: 'Z'
		};
		const api = {
			method: Method.X,
		};

		function onMouseClick( event ) {
			event.preventDefault();
			mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1;
			mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
			let hex_color = '#' + color.getHexString();
			let coordinate = dict_list[hex_color];
			guiStatsEl.innerHTML = [
				'<i><div style="width:20px; height:20px;background-color:'+ hex_color +' "></div> <b>'+hex_color+'</b> </i>',
				'<i><b>X</b></i>: ' + coordinate['x']['min'] + ' -> ' + coordinate['x']['max'],
				'<i><b>Y</b></i>: '+ coordinate['y']['min'] + ' -> ' + coordinate['y']['max'],
				'<i><b>Z</b></i>: ' + coordinate['z']['min'] + ' -> ' + coordinate['z']['max'],
			].join( '<br/>' );
		}

		//

		init();
		initMesh();
		animate();

		//

		function clean() {

			const meshes = [];

			scene.traverse( function ( object ) {

				if ( object.isMesh ) meshes.push( object );

			} );

			for ( let i = 0; i < meshes.length; i ++ ) {

				const mesh = meshes[ i ];
				mesh.material.dispose();
				mesh.geometry.dispose();

				scene.remove( mesh );

			}

		}


		//TODO：这里还需要优化，斜率与-3212.75 并不是通过计算得来，最好是通过python计算返回给前端
		function zoom_coordinate(data){
			var k = 0.000977523;
			return -20+k*(data - -3212.75);
		}



		function randomizeMatrix(matrix,x,y,z){
			const position = new THREE.Vector3();
			const quaternion = new THREE.Quaternion();
			const scale = new THREE.Vector3();
			position.x = zoom_coordinate(x);
			position.y = zoom_coordinate(y);
			position.z = zoom_coordinate(z);

			scale.x = scale.y = scale.z = 0.01
			matrix.compose( position, quaternion, scale );
		}


		function initMesh() {

			clean();
			const geometry = new THREE.SphereGeometry( 1, 10, 10 );
			geometry.computeVertexNormals();
			makeInstanced( geometry );

		}

		function makeInstanced( geometry ) {

			const matrix = new THREE.Matrix4();
			material = new THREE.MeshBasicMaterial();
			mesh = new THREE.InstancedMesh( geometry, material, my_data.length );

			for ( let i = 0; i < my_data.length; i ++ ) {

				switch (api.method){
					case "X":{
						randomizeMatrix( matrix ,my_data[i].z,my_data[i].y,my_data[i].x);
						break;
					}
					case "Y":{
						randomizeMatrix( matrix ,my_data[i].x,my_data[i].z,my_data[i].y);
						break;
					}
					case "Z":{
						randomizeMatrix( matrix ,my_data[i].x,my_data[i].y,my_data[i].z);
						break;
					}
				}

				mesh.setColorAt(i, new THREE.Color( my_data[i].label ));

				mesh.setMatrixAt( i, matrix );

			}

			scene.add( mesh );
			var axes = new THREE.AxesHelper(40);
			scene.add(axes);


		}


		function init() {

			const width = window.innerWidth;
			const height = window.innerHeight;

			// camera

			camera = new THREE.PerspectiveCamera( 70, width / height, 1, 100 );
			camera.position.z = 30;

			// renderer

			renderer = new THREE.WebGLRenderer( { antialias: true } );
			renderer.setPixelRatio( window.devicePixelRatio );
			renderer.setSize( width, height );

			container = document.getElementById( 'container' );
			container.appendChild( renderer.domElement );

			// scene

			scene = new THREE.Scene();
			scene.background = new THREE.Color( 0xffffff );

			// controls

			controls = new OrbitControls( camera, renderer.domElement );
			// controls.autoRotate = true;

			// stats


			stats = new Stats();
			container.appendChild( stats.dom );

			gui = new GUI();
			gui.add( api,'method', Method ).onChange( initMesh );
			// listeners
			const perfFolder = gui.addFolder( 'Performance' );

			guiStatsEl = document.createElement( 'div' );
			guiStatsEl.classList.add( 'gui-stats' );
			perfFolder.$children.appendChild( guiStatsEl );
			perfFolder.open();



			window.addEventListener( 'resize', onWindowResize );

			Object.assign( window, { scene } );
			document.addEventListener( 'click', onMouseClick );

		}

		//

		function onWindowResize() {

			const width = window.innerWidth;
			const height = window.innerHeight;

			camera.aspect = width / height;
			camera.updateProjectionMatrix();

			renderer.setSize( width, height );

		}

		function animate() {

			requestAnimationFrame( animate );

			controls.update();
			stats.update();
			raycaster.setFromCamera( mouse, camera );

				const intersection = raycaster.intersectObject( mesh );

				if ( intersection.length > 0 ) {
					const instanceId = intersection[ 0 ].instanceId;
					mesh.getColorAt( instanceId, color );
				}
			render();

		}

		function render() {

			renderer.render( scene, camera );

		}


	</script>

</body>
</html>
